# Pandas
* Pandas是使用Python语言开发的用于数据处理和数据分析的第三方库
* Pandas的命名和熊猫无关，全称是Python Data Analysis Library

In [1]:
import numpy as np
import pandas as pd

## Pandas的数据结构
* Pandas提供Series和DataFrame作为数组数据的储存框架，数据进入这2种框架后，我们就可以利用它们提供的强大处理方法进行处理

1. Series

Series是一个带有标签的一维数组. 类似于带有索引的NumPy数组。每个Series都由数据和与之相关联的索引组成，可以将Series看作是一个带有标签的数组。

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. The basic method to create a Series is to call:

s = pd.Series(data, index=index)

In [2]:
#s input from a list
s=pd.Series([1,2,3,4,5])
# s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
#s1 input from a dict
d={'b':1,'a':0,'c':2}
s1=pd.Series(d)
s1

b    1
a    0
c    2
dtype: int64

2. DataFrame

DataFrame意为数据框，是Pandas定义的一个二维数据结构， 类似于Excel表格或SQL表。DataFrame由多个Series组成，每个Series代表一列数据，每列可以有不同的数据类型。DataFrame可以看作是一个多维标签化数组，每行和每列都有对应的标签。

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object. Like Series, DataFrame accepts many different kinds of input:

* Dict of 1D ndarrays, lists, dicts, or Series

* 2-D numpy.ndarray

* Structured or record ndarray

* A Series

* Another DataFrame

<img src="./picture/dataframe_1.PNG" width=320 height=240>

In [4]:
# df from dict of ndarrays / lists
d={"subject": ['10011001','10011002','10011003','10011004'],"age":[45,35,25,15],"sex":['F','M','M','F']}
df = pd.DataFrame(d)
# df = pd.DataFrame(d,index=["a",'b','c','c'])
df

    subject  age sex
0  10011001   45   F
1  10011002   35   M
2  10011003   25   M
3  10011004   15   F

## Each column in a DataFrame is a Series

In [5]:
# df['subject']
df['subject']

0    10011001
1    10011002
2    10011003
3    10011004
Name: subject, dtype: object

In [6]:
#type
type(df['subject'])

pandas.core.series.Series