# Data input/output
* read excel/csv/sas dataset
* export excel
* xlsxwriter

In [1]:
import pandas as pd
import numpy as np

In [2]:
# read excel
df_DM_EXCEL=pd.read_excel('./data/import_data/dm001_1.xlsx',sheet_name='Sheet1')
df_DM_EXCEL.head()

   Unnamed: 0  Subject InstanceName DataPageName  AGE SEX
0           0     1001          访视1        人口统计学   54   女
1           1     1002          访视1        人口统计学   64   女
2           2     1003          访视1        人口统计学   60   男
3           3     1004          访视1        人口统计学   66   女
4           4     1005          访视1        人口统计学   66   男

In [3]:
# read csv
df_DM_CSV=pd.read_csv('./data/import_data/dm001_1.csv')
df_DM_CSV.head()

     Subject     BRTHDAT  AGE SEX NATION
0  UAT012001   11/4/1956   62   男     汉族
1  UAT012002   1/21/1952   66   男     汉族
2  UAT012003  11/10/1971   47   男     汉族
3  UAT012004   8/23/1987   31   女     汉族
4  UAT012005   1/16/1958   61   男     汉族

In [4]:
# read sas
from sas7bdat import SAS7BDAT
f=SAS7BDAT('./data/import_data/dm001_1.sas7bdat')
df_DM_SAS=f.to_data_frame()
f.close()
df_DM_SAS.head()

  Subject InstanceName DataPageName   AGE SEX
0    1001          访视1        人口统计学  54.0   女
1    1002          访视1        人口统计学  64.0   女
2    1003          访视1        人口统计学  60.0   男
3    1004          访视1        人口统计学  66.0   女
4    1005          访视1        人口统计学  66.0   男

In [5]:
# mete data info: f.header
with SAS7BDAT('./data/import_data/dm001_1.sas7bdat') as f:
    print(f.header)

Header:
	col_count_p1: 5
	col_count_p2: 0
	column_count: 5
	compression: None
	creator: None
	creator_proc: None
	date_created: 2020-11-17 17:23:17.186000
	date_modified: 2020-11-17 17:23:17.186000
	endianess: little
	file_type: DATA
	filename: dm001_1.sas7bdat
	header_length: 139264
	lcp: 8
	lcs: 0
	mix_page_row_count: 80
	name: SAMPLE_DM001_1
	os_name:
	os_type:
	page_count: 13
	page_length: 139264
	platform: windows
	row_count: 975
	row_length: 1712
	sas_release: 9.0401M6
	server_type: X64_SRV16
	u64: False

Contents of dataset "SAMPLE_DM001_1":
Num Name            Type   Length Format Label
--- --------------- ------ ------ ------ -----------------------------
  1 Subject         string    150 $      Subject name or identifier
  2 InstanceName    string    765 $      Folder instance name
  3 DataPageName    string    765 $      eCRF page name
  4 AGE             number      8        AGE
  5 SEX             string     18 $      SEX

In [6]:
dir(f)

['COMPRESSION_LITERALS',
 'DATE_FORMAT_STRINGS',
 'DATE_TIME_FORMAT_STRINGS',
 'DECOMPRESSORS',
 'RDC_COMPRESSION',
 'RLE_COMPRESSION',
 'TIME_FORMAT_STRINGS',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_file',
 '_iter',
 '_make_logger',
 '_open_files',
 '_process_byte_array_with_data',
 '_read_bytes',
 '_read_next_page',
 '_read_val',
 '_update_format_strings',
 'align_correction',
 'cached_page',
 'close',
 'column_data_lengths',
 'column_data_offsets',
 'column_names',
 'column_names_strings',
 'column_types',
 'columns',
 'convert_file',
 'current_file_position',
 'current_page_block_count',
 'current_page_data_subheader_pointers',
 'current_page_subheaders_count',
 'current_page_type',
 'current_row',
 'encoding',
 'encoding_errors',
 'endianess',
 'header',
 'logger',
 'path',
 'properties',
 'readlines',
 'skip_header',
 'strip_whitespace_from_strings',
 'to_data_frame',
 'u64']

In [7]:
# output excel
df_DM_SAS.to_excel('DM.xlsx',sheet_name='DM_SAS')

In [8]:
# loop output excel
dict_output={'DM_SAS':df_DM_SAS,
             'DM_EXCEL':df_DM_EXCEL,
             'DM_CSV':df_DM_CSV,}

with pd.ExcelWriter('DM.xlsx') as writer:
    for k, v in dict_output.items():
        v.to_excel(writer, sheet_name=k)

# xlsxwriter
https://xlsxwriter.readthedocs.io/index.html